.App {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.table {
  display: inline-block;
}

$tileWidth: 100px;

.tile {
  width: $tileWidth;
  height: $tileWidth;
  border: 1px solid;
  &.selected {
    background: green;
  }
  &.active {
    cursor: pointer;
  }
  font-size: 10px;
}
.row {
  display: flex;
}
